.headerSecondary{
    display:flex;
    padding:0px;
    height:50px;
    display: flex;
    justify-content: space-between;
    background: #2A7B9B;
    background: linear-gradient(90deg, rgb(77, 40, 73) 0%, rgb(6, 15, 10) 50%, rgb(100, 97, 61) 100%);    

}
.logoImg{
    height: 50px;
}
.logoTune{
    display: flex;
    gap:15px;
    min-width: 240px;
    width:20vw;
    box-sizing: border-box;
    padding-left: 20px;
    justify-content: space-around;
}
.profielSearch{
    display: flex;
    justify-content: space-between;
    width:60vw;
}

.Ptunetext{
    font-size: 33px;
    margin-top: 8px;
    font-weight: bold;
    background: linear-gradient(to right, #f7fb0f, #f2da02);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}   

.middle{
    background: rgb(39, 34, 34);
    border-radius: 20px;
    display:flex;
    gap:12px;
    width:45vw;
    height:35px;
    margin:auto;
    margin-top: 4px;
    justify-content: space-around;
    border: 3px solid white;
    flex-shrink: 2;
}

.middlesecondary{
    background: rgb(39, 34, 34);
    border-radius: 20px;
    display:flex;
    gap:12px;
    width:93vw;
    height:40px;
    margin:auto;
    margin-top: 4px;
    justify-content: space-around;
    border: 3px solid white;
    flex-shrink: 2;
}
@media(min-width:900px){
    .middlesecondary{
        display:none;
    }
}
.inputSearchBar{
    background-color:rgb(39, 34, 34);
    font-size: 16px;
    height:28px;
    width: 40vw;
    color:white;
    margin-left:12px;
    outline: none;
    margin-top: 4px;
    border:1px solid rgb(39, 34, 34);
}
.inputSearchBar::placeholder {
  color: rgb(166, 158, 158);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  opacity: 1;
  font-size: 20px;
}
.search{
    height:23px;
    margin-top:6px;
}
.profileimg{
    height:40px;
    width:40px;
    border-radius: 40px;
    margin-top: 4px;
    margin-right: 10px;
    position:fixed;
    right:5px;
    
}

@media(max-width:900px){
    .middle{
        display:none;
    }
    .inputSearchBar{
        width:70vw;
        margin-top: 8px;
    }
}