
.wholeRightContent{
    color:white;
    background-color: rgb(36, 34, 34);
    height:77vh;
    margin-top: 12px;
    overflow-y: scroll;
    border-radius: 10px;
    box-sizing: content-box;

}
.wholeRightContent::-webkit-scrollbar{
    display: none;
}
.featured{
    margin-left: 20px;
    margin-top: 5px;
}

.chartimg{
    height:150px;
    margin:6px;
    border-radius: 9px;
}
.featuredCharts{
    margin-left: 20px;
    margin-top: 2px;
    display: flex;
    gap: 15px;
    overflow-x: scroll;
    overflow-y:hidden;
    width: calc(100vw - 312px);

}
.featuredCharts::-webkit-scrollbar{
    display:none;
}

@media (max-width:900px) {
  .wholeRightContent {
    width:97vw;
  }
  .featuredCharts{
    width:98vw;
  }
}

.albumitems{
    background-color: rgb(36, 34, 34);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.albumitems:hover{
   background-color: rgb(55, 54, 54);
}
.albumitemtextname{
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left:10px;
    font-weight: bolder;
    color: white;
}
.albumitemtextdesc{
    margin: 6px;
    font-size: 14px;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@media(max-width: 900px){
    .chartimg{
        height:100px;
    }
    .albumitemtextname{
        font-size:12px;
    }
    .albumitemtextdesc{
        font-size:12px;
    }
}